<form method="/login">
        {% if error is defined %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" value="" name="email" id="inputEmail" class="form-control form-control-sm" required autofocus>

        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control form-control-sm" required>
        </div>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">
                Sign in
            </button>
        </div>
        {#<div class="form-group text-center">
        <small><a href="#" data-toggle="modal" data-target="#modalPassword">Forgot password?</a></small>
    </div>#}

</form>
